h1, h2 {
	color: #efefef;
	font-family: 'Gruppo', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
}

h2 {
  font-family: $baseFont;
  font-size: 1.5em;
}

article {
	background: $bg;
  font-family: $baseFont;
  font-size: 1em;
}

div {
  color: #efefef;
  margin: 0 auto;
  width: 80%;
}

.panther {
	background-image: url(../img/panther.svg);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: 0 40%;
  text-align: right;
	h1 {
		font-size: 3em;
	}
}

iframe {
  min-height: 70vh;
  width: 100%;
}

.threats {

  h2:nth-child(3) {
    margin-bottom: 10vh;
  }

  .trunk {
    background: $trunk;
    display: inline-block;
    height: 2em;
    height: 10vh;
    position: relative;
    width: 1em;
  }

  .habitat {
    background: $trunk;
    display: inline-block;
    height: 10em;
    height: 30vh;
    left: 10em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    @include vendor-prefix (transform, rotate(90deg));
    &:before {
      background: $tree;
      border-radius: 50%;
      content: '';
      height: 5em;
      left: -2.5em;
      position: absolute;
      top: -2.5em;
      width: 5em;
    }
  }

  .territorial {
    display: inline-block;
    left: 22em;
    position: relative;

    .car {
      background: blue;
      border-radius: 3em 6em 1em 1em;
      height: 7em;
      width: 15em;
      &:before {
        background: rgba($bg,0.6);
        border-radius: 0 0 0 1em;
        content: '';
        height: 3em;
        position: absolute;
        left: 10em;
        width: 5em;
      }
    }

    .wheel {
      background: #ededed;
      border-radius: 45%;
      border-left: 1em ridge #000;
      border-right: 1em groove #000;
      border-top: 1em ridge #000;
      border-bottom: 1em groove #000;
      height: 2em;
      left: 1em;
      position: absolute;
      top: 5em;
      width: 2em;
      @include vendor-prefix (transform, rotate(0deg));
      @include vendor-prefix (animation, drive 3s linear infinite);
      &:nth-of-type(2) {
        left: 10em;
      }
      &:before {
        border: .5em solid $bg;
        border-radius: 50%;
        content: '';
        left: -1.5em;
        position: absolute;
        top: -1.5em;
        height: 4em;
        width: 4em;
      }
    }
  }
}

.cougar {
  border-radius: 10px;
  height: 8em;
  margin: 4em auto;
  position: relative;
  width: 15em;
  .face {
    background: #33a9a9;
    border-radius: 25% 25% 50% 50%;
    box-shadow: 0 0 3px #333;
    height: 6em;
    position: relative;
    width: 5.5em;
    &:before {
      background: #ffcfdf;
      border: .75em solid #33a9a9;
      border-radius: 50% 50% 0 0;
      box-shadow: 0 -1px 1px #333;
      content: '';
      height: .875em;
      left: 0;
      position: absolute;
      top: -1.5em;
      width: .5em;
      @include vendor-prefix (transform, rotate(-5deg));
    }
    &:after {
      @extend .face:before;
      left: auto;
      right: 0;
      @include vendor-prefix (transform, rotate(5deg));
    }
    .eye {
       background: #fff;
       border-radius: 1em 0;
       height: 1em;
       left: .75em;
       position: absolute;
       top: 1.5em;
       width: 1.25em;
       @include vendor-prefix (transform, rotate(45deg));
       &:nth-of-type(2) {
        left: auto;
        right: .75em;
        @include vendor-prefix (transform, rotate(30deg));
       }
        &:before {
          background: #000;
          border-radius: 50%;
          content: '';
          height: .5em;
          left: .5em;
          position: absolute;
          top: .35em;
          width: .5em;
        }
     }
  }

  .mouth {
    background: #efefef;
    border-top: 2px solid #333;
    bottom: .5em;
    border-radius: .5em .5em 2em 2em;
    height: 2em;
    left: 1em;
    position: absolute;
    width: 3.5em;
    &:before {
      border-right: .5em solid transparent;
      border-left: .5em solid transparent;
      border-top: .5em solid #ffcfdf;
      left: 1.25em;
      border-radius: .25em;
      height: 0;
      content: '';
      position: absolute;
      top: -.65em;
      width: 0;
    }
  }

  .teeth {
    border-top: 1px solid #aaa;
    bottom: 1.5em;
    height: 1px;
    left: 1.075em;
    position: absolute;
    width: 3.375em;
    &:before {
      border-left: 1px solid #aaa;
      content: '';
      left: 1.075em;
      height: 1.85em;
      position: absolute;
      top: -.8em;
    }
    &:after {
      @extend .teeth:before;
      left: auto;
      right: 1.075em;
    }
  }

  .fang {
    background: #efefef;
    bottom: 0;
    border-radius: 0 0 0 1em;
    box-shadow: -1px 2px 1px rgba(120,120,120,0.4);
    left: 1.125em;
    height: 1.5em;
    position: absolute;
    width: 1em;
    &:nth-of-type(2n) {
      border-radius: 0 0 1em 0;
      box-shadow: 1px 2px 1px rgba(120,120,120,0.4);
      left: auto;
      right: 1.125em;
    }
  }
}

.map {
  div {
    margin: 10vh auto 0 auto;
    position: relative;
    height: 75vh;
  }
  h1 {
    margin-bottom: .5em;
  }
  .areaExplained {
    color: #fff;
    display: none;
    left: 0;
    position: absolute;
    top: 50vh;
  }
  .florida, .panther-territory {
    position: absolute;
    height: 100%;
    &:hover {
      &~ .areaExplained {
        display: block;
      }
    }
  }
  .florida {
    fill: #000;
  }
  .panther-territory {
    fill: #fff;
    z-index: 999;
  }
}

.links {
  a {
    color: #fff;
    display: block;
    margin: 1em 0;
    text-decoration: none;
  }
}

.home {
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    background: $bg / 1.5;
    padding: 1em;
  }
}

@media (min-width: 60em) {
  h1 {
    font-size: 3em;
  }
  div {
    line-height: 1.75em;
  }
  .panther {
    h1 {
      font-size: 4.5em;
    }
  }
}